/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply styles to the entire page */
body {
    font-family: Arial, sans-serif;
}

/* Hero Section Styles */
.hero {
    background-image: url('img/portfolio.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Black Box Section Styles */
.black-box {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.black-box h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Card Container Styles */
.card-container {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card Styles (customize as needed) */
.card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-width: 300px;
}
.btm-title, .btm-text {
    color: #fff;
}
.email {
    color: blue;
}
/* Bottom Section Styles */
.bottom-section {
    display: flex;
    padding: 40px 0;
    justify-content: center;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .hero h1 {
        font-size: 2rem;
    }
    
    /* Add more responsive styles as needed */
}
